/.gradle/
/gradle-project/.gradle/
/gradle-project/build/

/HelloCucumber/.gradle/
/HelloCucumber/build/
/HelloCucumber/.nb-gradle/

/LoginCucumber/.gradle/
/LoginCucumber/build/
/LoginCucumber/.nb-gradle/
